@import "base/variable.scss";
@import "base/function.scss";
.overflow{
    overflow:hidden;
}
[data-app]{
    cursor: pointer;/*$(document).on("click","[data-app]",function(){})避免IOS点击不了*/
}
.hideIcon{
    display:none !important;
}
.wechatShareTips{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.6);
    text-align:center;
    display:none;
    z-index: 9999;
    cursor:pointer;
    img{
        width:px2rem(640);
        max-width:px2rem(640);
        height:px2rem(556);
        position: absolute;
        top:0;
        left:50%;
        margin-left:px2rem(-320);
    }
}
.app_share{
    .table{
        display: table;
        width: 100%;
        height: 100%;
    }
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.6);
    z-index: 999;
    ul{
        text-align:left;
    }
    .icon_wrap{
        padding:px2rem(60) 0 px2rem(40) px2rem(30);
        background:#ebe6e6;
    }
    .share_content{
        transition:transform 0.5s ease;
        transform: translateY(100%);
        &.show{
            transform: translateY(0) !important;
        }
    }
    .cancel{
        @include px2px(font-size,30);
        background:#fff;
        line-height:px2rem(92);
        text-align:center;
    }
    .table_cell{
        vertical-align:bottom;
        display: table-cell;
    }
    li{
        display:inline-block;
        margin-right:px2rem(23);
        text-align:center;
        a{
            display:block;
            &:hover{
                text-decoration: none;
            }

        }
    }
    p{
        color:#2c3e50;
        @include px2px(font-size,24);
        padding:px2rem(20) 0;
    }
}
.appicon{
    @include px2px(width,120);
    @include px2px(height,120);
    vertical-align:top;
    display:inline-block;
    background:url(images/share/appicon.png) scroll no-repeat 0 0;
    background-position-x:0;
    @include px2px(background-position-y,-362);
    @include px2px(background-size,120);
    &.wechat{
        @include px2px(background-position-y,-482);
    }
    &.qq{
        @include px2px(background-position-y,-120);
    }
    &.friend{
        @include px2px(background-position-y,0);
    }
    &.qzone{
        @include px2px(background-position-y,-241);
    }
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}