@charset "UTF-8";
/*
iphone3gs: 320px / 10 = 32px
iphone4/5: 320px * 2 / 10 = 64px
iphone6: 375px * 2 / 10 = 75px
 */
/*基准数也就是html,font-size有关:设计稿大小为640,转变就是拿设计稿的实际距离除以基准数*/
/*除了字体或者特殊要求需要用到的*/
/*针对字体*/
/*图片媒体查询*/
/*多行文字省略号*/
/*多行文字省略号*/
.overflow {
  overflow: hidden; }

.app_share {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; }
  .app_share .table {
    display: table;
    width: 100%;
    height: 100%; }
  .app_share .tips {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: none;
    z-index: 9999; }
    .app_share .tips img {
      width: 8.5333333333rem;
      max-width: 8.5333333333rem;
      height: 7.4133333333rem;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -4.2666666667rem; }
  .app_share ul {
    text-align: left; }
  .app_share .icon_wrap {
    padding: 0.8rem 0 0.5333333333rem 0.4rem;
    background: #ebe6e6; }
  .app_share .share_content {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
    .app_share .share_content.show {
      -webkit-transform: translateY(0) !important;
              transform: translateY(0) !important; }
  .app_share .cancel {
    font-size: 15px;
    background: #fff;
    line-height: 1.2266666667rem;
    text-align: center; }
    [data-dpr="2"] .app_share .cancel {
      font-size: 30px; }
    [data-dpr="2.5"] .app_share .cancel {
      font-size: 38px; }
    [data-dpr="2.75"] .app_share .cancel {
      font-size: 41px; }
    [data-dpr="3"] .app_share .cancel {
      font-size: 45px; }
    [data-dpr="4"] .app_share .cancel {
      font-size: 60px; }
  .app_share .table_cell {
    vertical-align: bottom;
    display: table-cell; }
  .app_share li {
    display: inline-block;
    margin-right: 0.3066666667rem;
    text-align: center; }
    .app_share li a:hover {
      text-decoration: none; }
  .app_share .icon {
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: top;
    display: inline-block;
    background: url(images/share/sina.png) scroll no-repeat center center;
    background-size: contain; }
    .app_share .icon.wechat {
      background: url(images/share/wechat.png) scroll no-repeat center center;
      background-size: contain; }
    .app_share .icon.qq {
      background: url(images/share/qq.png) scroll no-repeat center center;
      background-size: contain; }
    .app_share .icon.friend {
      background: url(images/share/friend.png) scroll no-repeat center center;
      background-size: contain; }
    .app_share .icon.qzone {
      background: url(images/share/qzone.png) scroll no-repeat center center;
      background-size: contain; }
  .app_share p {
    color: #2c3e50;
    font-size: 12px;
    padding: 0.2666666667rem 0; }
    [data-dpr="2"] .app_share p {
      font-size: 24px; }
    [data-dpr="2.5"] .app_share p {
      font-size: 30px; }
    [data-dpr="2.75"] .app_share p {
      font-size: 33px; }
    [data-dpr="3"] .app_share p {
      font-size: 36px; }
    [data-dpr="4"] .app_share p {
      font-size: 48px; }