@charset "UTF-8";
/*
iphone3gs: 320px / 10 = 32px
iphone4/5: 320px * 2 / 10 = 64px
iphone6: 375px * 2 / 10 = 75px
 */
/*基准数也就是html,font-size有关:设计稿大小为640,转变就是拿设计稿的实际距离除以基准数*/
/*除了字体或者特殊要求需要用到的*/
/*针对字体*/
/*图片媒体查询*/
/*多行文字省略号*/
/*多行文字省略号*/
.overflow {
  overflow: hidden; }

[data-app] {
  cursor: pointer;
  /*$(document).on("click","[data-app]",function(){})避免IOS点击不了*/ }

.hideIcon {
  display: none !important; }

.wechatShareTips {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: none;
  z-index: 9999;
  cursor: pointer; }
  .wechatShareTips img {
    width: 8.5333333333rem;
    max-width: 8.5333333333rem;
    height: 7.4133333333rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -4.2666666667rem; }

.app_share {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; }
  .app_share .table {
    display: table;
    width: 100%;
    height: 100%; }
  .app_share ul {
    text-align: left; }
  .app_share .icon_wrap {
    padding: 0.8rem 0 0.5333333333rem 0.4rem;
    background: #ebe6e6; }
  .app_share .share_content {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
    .app_share .share_content.show {
      -webkit-transform: translateY(0) !important;
              transform: translateY(0) !important; }
  .app_share .cancel {
    font-size: 15px;
    background: #fff;
    line-height: 1.2266666667rem;
    text-align: center; }
    [data-dpr="2"] .app_share .cancel {
      font-size: 30px; }
    [data-dpr="2.5"] .app_share .cancel {
      font-size: 38px; }
    [data-dpr="2.75"] .app_share .cancel {
      font-size: 41px; }
    [data-dpr="3"] .app_share .cancel {
      font-size: 45px; }
    [data-dpr="4"] .app_share .cancel {
      font-size: 60px; }
  .app_share .table_cell {
    vertical-align: bottom;
    display: table-cell; }
  .app_share li {
    display: inline-block;
    margin-right: 0.3066666667rem;
    text-align: center; }
    .app_share li a {
      display: block; }
      .app_share li a:hover {
        text-decoration: none; }
  .app_share p {
    color: #2c3e50;
    font-size: 12px;
    padding: 0.2666666667rem 0; }
    [data-dpr="2"] .app_share p {
      font-size: 24px; }
    [data-dpr="2.5"] .app_share p {
      font-size: 30px; }
    [data-dpr="2.75"] .app_share p {
      font-size: 33px; }
    [data-dpr="3"] .app_share p {
      font-size: 36px; }
    [data-dpr="4"] .app_share p {
      font-size: 48px; }

.appicon {
  width: 60px;
  height: 60px;
  vertical-align: top;
  display: inline-block;
  background: url(images/share/appicon.png) scroll no-repeat 0 0;
  background-position-x: 0;
  background-position-y: -181px;
  background-size: 60px; }
  [data-dpr="2"] .appicon {
    width: 120px; }
  [data-dpr="2.5"] .appicon {
    width: 150px; }
  [data-dpr="2.75"] .appicon {
    width: 165px; }
  [data-dpr="3"] .appicon {
    width: 180px; }
  [data-dpr="4"] .appicon {
    width: 240px; }
  [data-dpr="2"] .appicon {
    height: 120px; }
  [data-dpr="2.5"] .appicon {
    height: 150px; }
  [data-dpr="2.75"] .appicon {
    height: 165px; }
  [data-dpr="3"] .appicon {
    height: 180px; }
  [data-dpr="4"] .appicon {
    height: 240px; }
  [data-dpr="2"] .appicon {
    background-position-y: -362px; }
  [data-dpr="2.5"] .appicon {
    background-position-y: -453px; }
  [data-dpr="2.75"] .appicon {
    background-position-y: -498px; }
  [data-dpr="3"] .appicon {
    background-position-y: -543px; }
  [data-dpr="4"] .appicon {
    background-position-y: -724px; }
  [data-dpr="2"] .appicon {
    background-size: 120px; }
  [data-dpr="2.5"] .appicon {
    background-size: 150px; }
  [data-dpr="2.75"] .appicon {
    background-size: 165px; }
  [data-dpr="3"] .appicon {
    background-size: 180px; }
  [data-dpr="4"] .appicon {
    background-size: 240px; }
  .appicon.wechat {
    background-position-y: -241px; }
    [data-dpr="2"] .appicon.wechat {
      background-position-y: -482px; }
    [data-dpr="2.5"] .appicon.wechat {
      background-position-y: -603px; }
    [data-dpr="2.75"] .appicon.wechat {
      background-position-y: -663px; }
    [data-dpr="3"] .appicon.wechat {
      background-position-y: -723px; }
    [data-dpr="4"] .appicon.wechat {
      background-position-y: -964px; }
  .appicon.qq {
    background-position-y: -60px; }
    [data-dpr="2"] .appicon.qq {
      background-position-y: -120px; }
    [data-dpr="2.5"] .appicon.qq {
      background-position-y: -150px; }
    [data-dpr="2.75"] .appicon.qq {
      background-position-y: -165px; }
    [data-dpr="3"] .appicon.qq {
      background-position-y: -180px; }
    [data-dpr="4"] .appicon.qq {
      background-position-y: -240px; }
  .appicon.friend {
    background-position-y: 0px; }
    [data-dpr="2"] .appicon.friend {
      background-position-y: 0px; }
    [data-dpr="2.5"] .appicon.friend {
      background-position-y: 0px; }
    [data-dpr="2.75"] .appicon.friend {
      background-position-y: 0px; }
    [data-dpr="3"] .appicon.friend {
      background-position-y: 0px; }
    [data-dpr="4"] .appicon.friend {
      background-position-y: 0px; }
  .appicon.qzone {
    background-position-y: -121px; }
    [data-dpr="2"] .appicon.qzone {
      background-position-y: -241px; }
    [data-dpr="2.5"] .appicon.qzone {
      background-position-y: -301px; }
    [data-dpr="2.75"] .appicon.qzone {
      background-position-y: -331px; }
    [data-dpr="3"] .appicon.qzone {
      background-position-y: -362px; }
    [data-dpr="4"] .appicon.qzone {
      background-position-y: -482px; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }